{% extends 'base.html' %}

{% block breadcrumbs %}
{% with blog.tags.all as tags %}
{% if tags %}
<ul class="tags-list">
    <p>Теги:</p>
    {% for tag in tags %}
    <li><a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<h1>{{ blog.title }}</h1>

{% if blog.photo %}
<p><img class="img-article-left" src="{{ blog.photo.url }}"></p>
{% endif %}

{% autoescape off %}
{{ blog.content|linebreaks }}
{% endautoescape %}
{% endblock %}